{% extends 'base.html' %}
{% load static %}
{% block content %}
<main class="container my-4">
	<!-- Search Products -->
	<h3 class="my-4 border-bottom pb-1"><span class="text-muted">Search result for</span> {{request.GET.q}}</h3>
	<div class="row">
    {% for product in data %}
    <div class="col-md-4 mb-4">
      <div class="table">
          <div class="table">
            <a href="{% url 'product_detail' product.id %}"><h5 class="card-title">{{ product.name }}</h5></a>
            <img src="{{ product.image.url }}" class="image-responsive">
            <p class="card-text">Item: {{ product.code }}</p>
            <p class="price">${{ product.price }}</p>
            
            <div class="input-group my-3" style="width:30%;">
              <input type="number" class="form-control" id="qty" value="">
              <div class="input-group-append"></div>
                <input type="hidden" class="id" value="{{ product.id }}">
                <input type="hidden" class="price" value="{{ product.price }}">
                  <button class="btn btn-primary btn-sm" type="button" id="addToCartBtn"><i class="fa fa-shopping-cart"></i> Add to Cart</button>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
</div>
</main>



<!-- Add To Cart -->
<script>
$(document).ready(function () {
$(document).on('click', "#addToCartBtn",function(e){
    e.preventDefault();
    var qty=$('#qty').val();
    var id=$('.id').val();
    var price=$('.price').val();
    console.log(qty, id, price)




    $.ajax({
      url: "/add_to_cart/",
      data: {
        "id": id,
        "qty": qty,
        "price": price,
      },
      dataType: 'json',

      success:function(res){
              $(".cart-list").text(res.totalitems);
      },

      error:function(){
        console.log('fail')
      }

    });
});
}) 
</script>
{% endblock %}
