{% extends 'base.html' %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/sort.css' %}">

{% block content %}
<main class="container my-4">
	<!-- Search Products -->
	<h3 class="my-4 border-bottom pb-1"><span class="text-muted">Search result for</span> {{request.GET.q}}</h3>
	<div class="row justify-content-center">
    <script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
    <table class="table table-striped sortable">
      <thead id="thead">
        <tr>
          <th></th>
          <th>Name</th>
          <th>Item #</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody id="tbody">
        {% for product in data %}         
          <div class="col-md-4 mb-4">
              <tr>
                  <td><img src="{{ product.image.url }}" class="image-responsive"></td>
                  <td><a href="{% url 'product_detail' product.id %}"><h5 class="card-title">{{ product.name }}</h5></a></td>
                  <td><p class="card-text">Item: {{ product.code }}</p></td>
                  <td><p>${{ product.price }}</p></td>
                  <td><div class="input-group my-3" style="width:30%;"></td>
                    <td><button data-product_id={{product.id}} onclick="addToCart(this)" type="button" class="btn btn-primary btn-sm addToCartBtn"><i class="fa fa-shopping-cart"></i> Add to Cart</button></td>
                  <td></div>
              </tr>
            </div>
          {% endfor %}
        </tbody>
      </table>
        </div>
      </div>
    </main>



<!-- Add To Cart  -->
<script>

  function addToCart(button) {
    const product_id = button.dataset.product_id

      $.ajax({
        url: "/add_to_cart/",
        data: {
          "product_id": product_id,
        },
        dataType: 'json',

        success:function(res){
                $(".cart-list").text(res.totalitems);
        },

      });
    };
</script>

{% endblock %}
